@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Hubballi&family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.text-center {
  text-align: center;
}
/* font-family: 'Fredoka', sans-serif;
font-family: 'Hubballi', cursive;
font-family: 'Poppins', sans-serif; */

#staffPage,
#aboutPage,
#contactPage,
#alumniPage,
#loginPage{
  background: lightgoldenrodyellow;
}

/* Navbar styles  */
.app__navbar {
  display: flex;
  justify-content: space-between;
  margin: 2% 5%;
}

.app__logo {
  flex-basis: 40%;
}

.app__nav_links {
  flex-basis: 60%;
}

.app__nav_links ul {
  display: flex;
  justify-content: space-around;
}

.app__nav_links ul li {
  list-style: none;
}

.app__nav_links ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
}

.app__nav_links ul li a:hover {
  text-decoration: underline;
}

.app__nav_toggler {
  display: none;
}

.app__mobile_links {
  display: none;
}

/* Responsive styles for mobile devices */
@media (max-width: 760px) {
  .app__nav_links {
    display: none;
  }

  .app__logo {
    flex-basis: 60%;
    padding: 3%;
  }
  .app__nav_toggler {
    display: flex;
    flex-basis: 40%;
    justify-content: flex-end;
  }

  .app__mobile_links {
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 30;
  }

  .app__mobile_links ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: stretch;
  }

  .app__mobile_links ul li {
    list-style: none;
    margin: 0 auto;
    text-align: center;
  }

  .app__mobile_links ul li a {
    text-decoration: none;
    color: #000;
  }

  #navToggler{
    width: 50%;
    height: 90%;
  }

  .mobile_hide{
    display: none;
  }
}
