/*
  Register Page Styling
*/

.app_form {
  width: 100%;
  /* gap: 2rem; */
}

.app__form_input {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
}

.app__form_input input {
  flex-basis: 70%;
  height: 2rem;
  padding: 1.5% 0;
}

.app__form_cv {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 3% auto;
}

.app__form_cv div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.app__contacts {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.app__contacts div {
  display: flex;
  /* align-items: stretch; */
  justify-content: space-around;
  flex-direction: column;
  gap: 0.8rem 0;
}

.app__contacts div input {
  padding: 0.2rem 0.9rem;
}
.app__contacts div h3 {
  text-align: center;
}

.app__register_btn {
  width: 40%;
  background: blueviolet;
  height: 4rem;
  padding: 0;
  margin: 3% auto;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 2%;
  color: #fff;
}

/* Login Page Styling */

.app__login {
  width: 100%;
}

.app__login_form {
  flex-direction: column;
  /* justify-content: space-around; */
  /* border: 1px solid; */
  width: 40%;
  margin: 2% auto;
  height: 80vh;
  box-shadow: 1rem 1rem 1rem #aaa;
  background: #dedede;
  border-radius: 3%;
}

.app__login_input {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.app__login_input input {
  width: 90%;
  margin: 2% auto;
  padding: 3%;
  outline: none;
  border: 1px solid #fff;
  border-radius: 2.5%;
}

.app__login_btn {
  width: 80%;
  height: 2rem;
  background: blueviolet;
  border: none;
  border-radius: 5%;
  color: #fff;
}

/* Mobile screen stylings */
@media (max-width: 760px) {
  /* Register Page */
  .app__form_input {
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 0;
  }
  .app__form_input label {
    display: none;
  }

  .app__form_input input {
    margin: 0 auto;
    width: 90%;
    height: 3rem;
    padding: 1rem;
  }

  .app__form_cv {
    width: 90%;
    margin: 3% auto;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem 0;
  }

  .app__contacts {
    flex-direction: column;
    gap: 1.5rem 0;
  }

  .app__contacts div {
    gap: 0.5rem 0;
  }

  .app__contacts div input {
    width: 95%;
    margin: 0 auto;
    padding: 0.5rem;
  }

  /* Login Page */
  .app__login {
    margin: 8% auto;
  }

  .app__login_form {
    width: 95%;
    height: 70vh;
  }
}
